body{
    background-color: #393939;
}

.container{
    margin-right: auto;
    margin-left: auto;
    border: solid red 1px;
    width: 1400px;
    text-align: center;
}

nav{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px;
}

a{
    font-weight: bold;
    color: #FFFFFF;
}

canvas{
    border: 1px solid #66666D;
}

img{
    width: 100px;
    line-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}