body{
    background-color: #393939;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    text-align: center;
}

nav{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a{
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

canvas{
    background-color: #222222;
}

img{
    width: 100px;
    line-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

h2{
    display: inline-block;
    margin-right: 7px;
}

label{
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.carpet-controls{
    width: 30px;
    margin-right: 20px;
    margin-left: 5px;
}