<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dywan Sierpinskiego</title>

    <link href="../css/main-style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav>
        <h2><a href="index.html">3.0</a></h2>
        <h2><a href="pyramid.html">3.0 v2</a></h2>
        <h2><a href="carpet.html">4.0</a></h2>
        <h2><a href="egg.html">5.0</a></h2>
    </nav>
    <div class="controls">
    </div>
    <canvas id="canvas" width="800" height="600">Brak wsparcia dla elementu HTML5 typu canvas.</canvas>
</div>

<script src="../js/carpet.js"></script>
</div>
</body>
</html>