<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Jajko</title>

    <link href="../css/main-style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav>
        <h2><a href="index.html">Szescian</a></h2>
        <h2><a href="pyramid.html">Piramida</a></h2>
        <h2><a href="carpet.html">Dywan Sierpinskiego</a></h2>
        <h2><a href="egg.html">Jajko</a></h2>
    </nav>
    <div class="controls">
        <input type="checkbox" class="rotate" id="rotateX"> <label for="rotateX">rotacja X</label>
        <input type="checkbox" class="rotate" id="rotateY"> <label for="rotateY">rotacja Y</label>
        <input type="checkbox" class="rotate" id="rotateZ"> <label for="rotateZ">rotacja Z</label><br>
    </div>
    <canvas id="canvas" width="800" height="600">Brak wsparcia dla elementu HTML5 typu canvas.</canvas><br><br>
</div>

<script src="../js/matrix.js"></script>
<script src="../js/egg.js"></script>
<script src="../js/listeners.js"></script>
</body>
</html>