<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>WebGL</title>

    <link href="../css/main-style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <a href="index.html">3.0</a>
            <a href="carpet.html">4.0</a>
            <a href="egg.html">5.0</a>
        </nav>
        <div class="controls">
            <input type="checkbox" class="rotate" id="rotateX"> <label for="rotateX">rotacja X</label>
            <input type="checkbox" class="rotate" id="rotateY"> <label for="rotateY">rotacja Y</label>
            <input type="checkbox" class="rotate" id="rotateZ"> <label for="rotateZ">rotacja Z</label>
        </div>

        <canvas id="canvas">Brak wsparcia dla elementu HTML5 typu canvas.</canvas>
    </div>

    <script src="../js/matrix.js"></script>
    <script src="../js/basic.js"></script>
    <script src="../js/listeners.js"></script>
</body>
</html>